/* VARIABLES */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --theme-font: 'Arial', sans-serif;
  --header-font: 'Noto Serif', sans-serif;
}

/* CSS */

html {
  font-size: 90%;
}

body {
  margin: 0;
  font-family: var(--theme-font);
  font-size: 1.1em;
  background-color: rgb(252, 249, 244);
  /* background-image: url(../cat.png); */
  background-position: 40px 180px;
  background-repeat: no-repeat;
  background-size: 350px;
}

body.post h1 {
  font-size: 3.2em;
}

.all {
  display: block;
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -200px;
}


h1,
h2,
h2 a,
h3 {
  font-weight: 100;
  padding: 1em 0;
}

h1 {
  font-family: 'Noto Serif', sans-serif;
  font-size: 3.8em;
  padding: 0 0 0.3em 0;
  margin: 0;
  color: #fdfd96;
  text-shadow: -3px 1px #88aed0, -3px -2px #88aed0, 3px 1px #eeaecc;
  font-weight: bold;
}

h2,
h3,
h4 {
  font-family: sans-serif;
}

h2 {
  padding: 0.5em 0 0.5 0;
  font-size: 2.1em;
  font-family: 'Noto serif', sans-serif
}

h3 {
  padding: 0.2em;
  font-size: 1.4em;
  color: #88aed0;
}

blockquote {
  padding: 0.1em 1em;
  background: rgb(234, 246, 245);
}

.container strong {
  background: linear-gradient(104deg, rgba(255, 130, 203, 0) 0.9%, rgba(247, 255, 130, 1.25) 2.4%, rgba(247, 255, 130, 0.788) 5.8%, rgba(247, 255, 130, 0.1) 93%, rgba(247, 255, 130, 0.7) 96%, rgba(247, 255, 1302, 0) 98%), linear-gradient(183deg, rgba(247, 255, 130, 0) 0%, rgba(247, 255, 130, 0.3) 7.9%, rgba(247, 255, 130, 0) 15%);
  padding: 0.2em 5px;
  -webkit-box-decoration-break: clone;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(247, 255, 130, 0.7), 21px -18.1px 7.3px rgba(255, 255, 255, 1), -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}

.boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  background: maroon;
  flex: auto;
  padding: 10px;
  margin: 10px;
}

.post-meta {
  color: lightslategrey;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.brand img {
  /* filter: invert(); */
  opacity: 0.8;
  margin-top: -10px;
  transform: rotate(-3deg)
}

a.noline {
  border-bottom: 0;
}

ol {
  counter-reset: li;
  list-style-type: none;
  padding-left: 10px;

}

ol li {
  position: relative;
  padding-left: 40px;
}


ol li:before {
  content: counter(li);
  counter-increment: li;
  height: 29px;
  width: 29px;
  font-family: Arial, sans-serif;
  background: #d399ac;
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  font-weight: bold;
  line-height: 31px;
  left: 0;
  top: 0;
}

ol li,
ul li,
p {
  line-height: 2em;
}

.container p,
.container li {
  font-size: 1em;
}

ul {
  margin-left: 10px;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 23px;
}

.container ul li:before {
  content: "♥            ";
  margin-right: 5px;
  color: #d399ac;
  margin-left: -23px;
  font-size: 20px;
}

a {
  color: #6f8da7;
  /* Nerolac Danish Blue */
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #eeaecc;
}

.headline {
  font-size: 1.5em;
  font-weight: 100;
}

.highlight {
  padding: 5px 10px;
}

/* GRID */

.wrapper {
  margin: 0 auto;
  /* border-left: 20px solid #019286; */
  padding: 1.8em 0;
  z-index: 10000;
  position: relative;

}

.headerWrapper {
  padding: 2.5em 0 3.8em 0;
  background: #FFCCE4;
  position: relative;
}

/* 

    background: linear-gradient( 45deg, pink 50%, blue 50%, transparent 55%) 0 0,
                linear-gradient(-45deg, pink 50%, blue 50%, transparent 55%) 0 0;

                */

.headerWrapper:after {
  background:
    linear-gradient(-45deg, rgb(252, 249, 244) 16px, rgb(178, 112, 112) 12px, transparent 0) 0 0,
    linear-gradient(45deg, rgb(252, 249, 244) 16px, rgba(151, 23, 23, 0.1) 12px, transparent 0) 0 0;
  background-repeat: repeat-x;
  background-size: 32px 32px, 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 1300px;
  margin: 0 auto;
  z-index: 999999;
  position: relative;
  margin-bottom: -30px;
}

.header nav ul {
  display: flex;
  list-style-type: none;
  margin-top: 6px;
  z-index: 1000;
  align-items: flex-start;
}

.header nav ul li {
  transform: rotate(4deg);
  background: white;
  /* opacity: 0.8; */
  padding: 0;
  margin-right: 10px;
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.header nav ul li:first-child {
  margin-left: 0;
  rotate: (-3deg);
  background: url(../washi1.png);
}

.header nav ul li:first-child a {
  font-size: 1.3em;
  padding: 7px;
  color: rgb(64, 56, 56);
  text-shadow: rgba(255, 255, 255, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header nav ul li:nth-child(2) {
  rotate: -10deg;
  background-image: radial-gradient(#fafafa 10%, transparent 10%),
    radial-gradient(#fafafa 10%, transparent 10%);
  background-color: #ef9a98;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  font-weight: bold;
  margin-right: -10px;
  text-shadow: rgba(247, 255, 130, 0.8) 1px 1px;
}

.header nav ul li:nth-child(2) a {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;

}

.header nav ul li:nth-child(3) {
  rotate: 10deg;
}

.header nav ul li:nth-child(4) {
  rotate: -2deg;
  background: repeating-linear-gradient(45deg,
      #fff,
      #fff 10px,
      #fdfd96 10px,
      #fdfd96 20px);
  font-family: 'Comic sans MS';
}

.header nav ul li:nth-child(5) {
  background: #88aed0;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
  transform: rotate(-6deg);
}

.header nav ul li:nth-child(5) a {
  color: white;
}

.header nav ul li a {
  color: #000;
  font-size: 0.8em;
  font-weight: normal;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.header nav ul li a:hover {
  background: #6f8da7;
}

nav label,
#hamburger {
  display: none;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  padding: 15px 20px;
  margin-top: -80px;
  z-index: 100;
  box-shadow: rgba(64, 56, 56, 0.6) 0px 2px 2px;
}

.block {
  display: block;
}

.item {
  padding: 1em;
}

.item img {
  display: block;
  margin: 0 auto;
}

.item-right img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.item-left {
  flex-shrink: 0.8;
}

.item-right {
  flex-shrink: 1.8;
}

.item-right nav {
  margin-top: 5.5rem;
}

.item-right nav li {
  list-style-type: disc;
}

.item-right nav li::before {
  content: "";
}

.footer {
  text-align: right;
  font-size: 0.8em;
  height: 200px;
  width: 100%;
  font-size: 40px;
  color: black
}

.push {
  height: 200px;
}

.post span {
  color: #aaa;
  font-size: 0.9em;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .wrapper {
    width: 60%;
    max-width: 980px;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {


  .header,
  .wrapper {
    width: 75%;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 320px) and (max-width: 1024px) {

  .header,
  .wrapper {
    width: 90%;
  }

  h1 {
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-shadow: -1px 1px #88aed0, -2px -2px #88aed0, 2px 1px #88aed0;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {}

/* Rainbow dividers */

/*
 * CSS animated rainbow dividers of awesome 
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou 
**/
@-moz-keyframes charlieeee {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

@-webkit-keyframes charlieeee {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

@-o-keyframes charlieeee {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

@-ms-keyframes charlieeee {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

@-khtml-keyframes charlieeee {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

@keyframes charlieeee {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

.catchadream {
  background-image: -webkit-linear-gradient(left,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  background-image: -moz-linear-gradient(left,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  background-image: -o-linear-gradient(left,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  background-image: -ms-linear-gradient(left,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  background-image: -khtml-linear-gradient(left,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  background-image: linear-gradient(left,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red);
  -moz-animation: charlieeee 2.5s forwards linear infinite;
  -webkit-animation: charlieeee 2.5s forwards linear infinite;
  -o-animation: charlieeee 2.5s forwards linear infinite;
  -khtml-animation: charlieeee 2.5s forwards linear infinite;
  -ms-animation: charlieeee 2.5s forwards linear infinite;
  -lynx-animation: charlieeee 2.5s forwards linear infinite;
  animation: charlieeee 2.5s forwards linear infinite;
  background-size: 50% auto;
}

#tongue {
  position: cheek;
}

/* ^ OMG! An ID! That kills performance! */

/*
  .catchadream:after{content:'廌'}

*/
/* ^ uncomment to add unicorn */